*{box-sizing: border-box;}


.container{
    display: grid;
    grid-template-columns: 90px ;
    grid-template-rows: 100px 1fr 320px;
    height: 100vh;
    gap: 1vh;

}

.item {
    background-color: silver;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    grid-column: 1/10;
}

.siderbarL1 {
    grid-row: 2/2; 
    grid-column: 1/2 ;
}
.siderbarL2 
{
    grid-column: 1/2;
    grid-row: 3/8;
}

.content {
    grid-column:2/8;
    grid-row: 2/8;
}

.siderbarR1 {
    grid-column: 8/10;
    grid-row: 2/8;
}

.footer {
    grid-column: 1/10;
    grid-row: 8/8;
}